{% extends 'base.html.twig' %}

{% block main_content %}


   
<form action="{{ path('usuario_nuevo_guardar') }}" method="POST">
<h2>NUEVO USUARIO</h2>


Nombre: <input type="text" name="nombre" class="form-control">
<br>
<br>
Email: <input type="text" name="email" class="form-control">
<br>
<br>





<br>
<button type="post">Guardar</button>
</form>




{% endblock %}
