{% extends 'base.html.twig' %}

{% block main_content %}


<hr>
<h4>NUEVO USUARIO</h4>      
<form action="{{ path('usuario_nuevo_guardar') }}" method="POST">



Nombre: <input type="text" name="nombre" class="form-control">
<br>
<br>
Email: <input type="text" name="email" class="form-control">
<br>
<br>





<br>
<button type="post" class="btn btn-info">Guardar</button>
</form>




{% endblock %}
