{% extends 'base.html.twig' %}

{% block main_content %}


{% if( app.user.tipo == "admin" ) %}
	<a href="{{ path('ranking_actualizar') }}" class="btn btn-default btn-flat"><button type="button" class="btn btn-link">Actualizar ranking</button></a>
{% endif %}


<table class="table table-dark">


{% for r in ranking %}

<tr>
	<td>{{ r.usuario.nombre }} </td>
	<td>{{ r.puntos }} puntos</td>
</tr>

{% endfor %}

</table>


{% endblock %}
