{% extends 'base.html.twig' %}

{% block main_content %}




<hr>



<h4>REGLAMENTO </h4> 


<br>
<p>- Los partidos se pueden pronosticar hasta 2 horas antes de su comienzo</p>

<p>- Si acertás ganador de cada partido -> 5 puntos</p>

<p>- Si acertás resultado exacto de cada partido  -> 3 puntos</p>

<p>- Si acertás al cuadro campeón -> 15 puntos</p>

<p>- Si acertás al cuadro subcampeón -> 10 puntos</p>














{% endblock %}
