{% extends 'base.html.twig' %}

{% block main_content %}


<hr>
<h4>EDITAR EQUIPO</h4>
   
<form action="{{ path('equipo_editar_guardar') }}" method="POST" enctype="multipart/form-data">


<input hidden type="text" name="id" class="form-control" value="{{ equipo.id }}">
Nombre: <input type="text" name="nombre" class="form-control" value="{{ equipo.nombre }}">
<br>
<br>
Foto: <input type="file" name="file">
<br>
<br>





<br>
<button type="post" class="btn btn-info">Guardar</button>
</form>




{% endblock %}
